---
import Code from "./Code.astro"
---

<p class="text-sm text-slate-400">
  <a
    href="https://wa.me/+2347084419791"
    class="rounded-sm underline outline-none focus-visible:ring-2 focus-visible:ring-slate-500 focus-visible:ring-offset-2"
    target="_blank">Tunde</a
  > told me to add a good old <Code>mailto:</Code> button at the end of the page
</p>
<a
  href="mailto:muizzkara91@gmail.com"
  class="inline-flex items-center space-x-1.5 rounded-full bg-slate-800 px-6 py-3 text-base font-medium text-white shadow-sm outline-none focus-visible:ring-2 focus-visible:ring-slate-500 focus-visible:ring-offset-2"
>
  Let's talk
</a>
