---
import { Image } from "astro:assets"
import ArmandImage from "../assets/muizz.jpeg"
import SocialLinks from "./SocialLinks.astro"
import SectionTitle from "./SectionTitle.astro"
import WorkTag from "./WorkTag.astro"
import Code from "./Code.astro"
---

<header class="flex flex-col gap-8">
  <div class="flex items-center gap-4">
    <div
      class="relative flex size-24 shrink-0 overflow-hidden rounded-full border border-white shadow-md shadow-slate-200"
    >
      <Image
        alt="Armand"
        class="block aspect-square h-full w-full object-cover"
        loading="eager"
        src={ArmandImage}
      />
    </div>
    <div class="space-y-1">
      <div>
        <h1 class="flex scroll-m-20 text-2xl font-semibold tracking-tight">
          Karaole Olayiwola Muizz
        </h1>
        <div class="text-sm text-slate-500">
          <p>Senior front-end engineer based in Angers, France.</p>
        </div>
      </div>
      <WorkTag />
    </div>
  </div>

  <section class="space-y-2">
    <div class="flex flex-col gap-4">
      <SectionTitle>About</SectionTitle>
      <p class="leading-7 text-slate-500">
        I've been a front-end developer for 5 years, working mainly with React,
        TypeScript, Next.js, and many others. Passionate about what I do, I get
        fully involved in every project, with a particular focus on design.
      </p>
      <p class="leading-7 text-slate-500">
        I recently completed <a
          target="_blank"
          class="inline-flex items-center gap-1 rounded-sm underline underline-offset-2 outline-none focus-visible:ring-2 focus-visible:ring-slate-500 focus-visible:ring-offset-2"
          href="https://www.shopsintel.com/"
          >Shopsintel <i data-lucide="external-link" class="size-3 text-slate-400"
          ></i></a
        >, a TikTok Shop tool designed for discovering trending products, live creators, and analyzing competitor shops. This platform allows users to gain insights into the dynamic world of TikTok commerce, helping them stay ahead of trends and competitors. I was responsible for both the development and optimization of the platform, ensuring it met user needs and performed efficiently..<br
        />The project was built using <Code>PHP</Code> with 
        <Code>Laravel</Code> serving as the main framework. I utilized
        <Code>tailwind </Code>
        <Code>@css </Code>for the front-end, ensuring a smooth and responsive design, while
        <Code>MySQL</Code> handled the data storage and management. For admin interfaces and internal tools, I leveraged 
        <Code>Filament</Code>  allowing for fast and elegant user interaction with the system..
      </p>

      <SocialLinks />
    </div>
  </section>
</header>
