---
import { Image } from "astro:assets"
import ProjectArticle from "./ProjectArticle.astro"
import SectionTitle from "./SectionTitle.astro"
---

<div class="bg-zinc-100 p-6 md:rounded-2xl">
  <SectionTitle>Other Skills</SectionTitle>
  <p class="leading-7 text-slate-500">
    Discover side projects I've been working on.
  </p>

  <div class="mt-4 grid grid-cols-1 gap-3 sm:grid-cols-2">
    <ProjectArticle
      title="Digital Creator"
      description="With 6 years of experience in graphic design, I bring ideas to life with vibrant visuals that capture attention and tell a story. From sleek branding to eye-catching social media graphics, my designs blend creativity and strategy to make an impact."
      language="Go"
      link="https://www.instagram.com/yiwolaa_graphics/"
      linkText="View on Instagram"
    >
      <div class="shrink-0 rounded-lg bg-black p-2 text-white">
        <pre><span class="text-pink-400"></span> <span class="text-green-400"></span> Yiwola Graphics
        </pre>
      </div>
    </ProjectArticle>

    <ProjectArticle
      title="Backend Dev"
      description="With a strong foundation in PHP, Python, and JavaScript, I specialize in building scalable web applications and delivering seamless front-end experiences."
      language="React"
      link="https://drive.google.com/file/d/1aZJOOpgt_TOezECEAknFar39vScsaaBB/view?usp=sharing"
      linkText="View Resume"
    >
      <div
        class="flex h-28 shrink-0 items-center justify-center rounded-lg bg-[#f7f7f7] p-2"
      >
        <div
          class="inline-flex items-center gap-2 rounded bg-[#f87060] px-4 py-2 text-base font-medium text-white"
        >
          My Resume<i data-lucide="file-down" class="size-4 text-white"
          ></i>
        </div>
      </div>
    </ProjectArticle>
  </div>
</div>
