---
import SocialLink from "./SocialLink.astro"
---

<ul class="mt-1 flex flex-wrap items-start gap-1.5">
  <li>
    <SocialLink
      href="https://www.linkedin.com/in/olayiwolakaraole"
      title="Linkedin"
      username="Olayiwola"
      logoUrl="https://static.licdn.com/aero-v1/sc/h/akt4ae504epesldzj74dzred8"
    />
  </li>

  <li>
    <SocialLink
      href="https://x.com/layiwolaaaadio"
      title="Twitter"
      username="@layiwolaaaadio"
      logoUrl="https://abs.twimg.com/favicons/twitter.3.ico"
    />
  </li>

  <li>
    <SocialLink
      href="https://github.com/Olayiwolaaa"
      title="Github"
      username="@olayiwolaaa"
      logoUrl="https://github.githubassets.com/favicons/favicon.svg"
    />
  </li>
</ul>
